body {
  font-family: Arial, sans-serif;
  color: #3d405b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

form {
background-color: #eab69f;
padding: 40px;
border-radius: 15px; /* Rotunjire col»õuri */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 80%;
max-width: 600px;
margin: 0 auto;
transition: box-shadow 0.3s ease-in-out;
margin-top: 50px;
font-size: 16px; 
}


form:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


h2 {
  color: #3d405b;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 10px;
  background-color: #eab69f;
  border-radius: 8px 8px 0 0;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #3d405b;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #e07a5f;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
background-color: #eab69f;
color: #f4f1de;
cursor: pointer;
padding: 14px; 
font-size: 18px;
border: none;
border-radius: 4px;
transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

input[type="submit"]:hover {
background-color: #e07a5f;
transform: scale(1.05);
}

.content {
  margin: 20px 0;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  clear: both;
}

.footer p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.inapoi{
  color: #3d405b;
  margin: 10px;
  text-align: center;
}