
body {
  font-family: Arial, sans-serif;
  margin: 0px;

}
.title {
  color: #f4f1de;
  margin-left: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d405b;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
}
.icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  top: 15px;
  left: 10px;
  cursor: pointer;
}
.bar {
  width: 30px;
  height: 4px;
  border-radius: 4px;
  margin-bottom: 7px;
  background-color: #e07a5f;
  display: inline-block;
}
/* .bar:hover {
  width: 30px;
  height: 4px;
  border-radius: 4px;a
  margin-bottom: 7px;
  background-color: #eab69f;
  display: inline-block;
} */

.hamburger-menu {
display:none;
}
.hamburger-menu.open {
  display: block;
}
.hamburger-menu button {
  background-color: #3d405b; 
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

.hamburger-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #3d405b;
  position: absolute;
  top: 60px;
  left: 0;
  width: 15%; 
  height: max-content;
  display: flex;
  flex-direction: column;
}
.hamburger-menu li {
  border-bottom: 1px solid #464a68;
}
.hamburger-menu li:hover {
  background: #464a68;
}
.hamburger-menu li a{
  padding: 15px;
  text-align: center;
  color: #eab69f;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  text-decoration: none; 
  margin-bottom: 10px;
  display: block;
  
}
.hamburger-menu li a:hover {
  color: #e07a5f; 
}

.title {
  text-align: center;
}

.title h1 {
  color: #f4f1de;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0; /* Elimină marginul implicit pentru h1 */
}

.top-right-menu {
  display: flex;
  gap: 15px;
  margin-right: 10px;
  font-size: medium;
}

.top-right-menu a {
  text-decoration: none;
  color: #f4f1de;
}
.top-right-menu a:hover{
  color:#eab69f;
}

.custom-btn {
  width: 200px;
  height: 40px;
  color: #f4f1de;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  padding: 10px 20px;
}

.btn-7 {
  background: linear-gradient(0deg, #eab69f 0%, #e07a5f 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e07a5f;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9), -4px -4px 5px 0px rgba(255, 255, 255, .9),
      7px 7px 20px 0px rgba(0, 0, 0, .2), 4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 0%;
  width: 2px;
}

.btn-7:after {
  width: 0%;
  height: 2px;
}

.btn-7:hover {
  color: #e07a5f;
  background: #eab69f ;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #eab69f;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9), -4px -4px 5px 0px rgba(255, 255, 255, .9),
      7px 7px 20px 0px rgba(0, 0, 0, .2), 4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 0%;
}

.btn-7 span:after {
  height: 2px;
  width: 0%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  text-align: center;
}


.event-item {
  border: 2px solid #e07a5f;
  padding: 15px;
  margin-bottom: 5px; /* Redu spațiul dintre elementele evenimentului */
  border-radius: 10px;
  text-align: center;
}

.event-item p {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.2;
}
.gol{
  font-size: xx-large;
}
.quantity-label {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.quantity-select {
  display: block;
  margin: 0 auto;
}
ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 0px; /* Ajustați la valoarea dorită pentru spațiul între elementele listei */
}

.footer-link {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3d405b; 
  color: #f4f1de; 
  text-decoration: none;
  text-align: center;
  padding: 15px; /* Ajustat pentru a mări zona clicabilă */
  font-weight: bold;
}
.footer {
  background-color: #3d405b; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align:center;
  margin-left: 0;
  color: #f4f1de;
}