/* #f4f1de alb
#eab69f roz deschis
#e07a5f roz inchis
#3d405b albastru
#81b29a verde
#f2cc8f galben
*/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;

}
.title {
  color: #f4f1de;
  margin-left: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d405b;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
}
.icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  top: 15px;
  left: 10px;
  cursor: pointer;
}
.bar {
  width: 30px;
  height: 4px;
  border-radius: 4px;
  margin-bottom: 7px;
  background-color: #e07a5f;
  display: inline-block;
}

.hamburger-menu {
display:none;
}
.hamburger-menu button {
  background-color: #3d405b; 
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

.hamburger-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #3d405b;
  position: absolute;
  top: 60px;
  left: 0;
  width: 15%; 
  height: max-content;
  display: flex;
  flex-direction: column;
}
.hamburger-menu li {
  border-bottom: 1px solid #464a68;
}
.hamburger-menu li:hover {
  background: #464a68;
}
.hamburger-menu li a{
  padding: 15px;
  text-align: center;
  color: #eab69f;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  text-decoration: none; 
  margin-bottom: 10px;
  display: block;
  
}
.hamburger-menu li a:hover {
  color: #e07a5f; 
}
.top-right-menu {
  display: flex;
  gap: 15px;
  margin-right: 10px;
  font-size: medium;
}

.top-right-menu a {
  text-decoration: none;
  color: #eab69f;
}
.top-right-menu a:hover{
  color:#e07a5f;
}
#backdrop{
  width: 100%;
}
/* FOOTER */
.contact-footer {
  background-color: #3d405b;
  color: #f4f1de;
  padding: 20px;
  text-align: center;
}

.social-media {
  /* margin-bottom: 20px; */
  text-align: left;
}

.social-media a {
  color: #3d405b;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.contact-info p {
  /* margin: 5px 0; */
  text-align: right;
  margin-right: 45px;
  color: #3d405b;
}
.contact-info{
  margin-bottom: 60px;
}
.footer {
  background-color: #3d405b; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align:center;
  margin-left: 0;
  color: #f4f1de;
}
.eveniment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.eveniment {
  width: 300px;
  border: 1px solid #eab69f;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  margin-bottom: 60px;

}

.eveniment img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px; /* spațiu între imagine și text */
}

.eveniment a {
  display: block;
  background-color: #eab69f;
  color: #3d405b;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.eveniment a:hover {
  background-color: #e07a5f;
}

/*de aici incepe stilizarea speciala, in plus, doar pentru pagina categorii*/
.category-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #eab69f;
  border-radius: 25px;
  background-color: #3d405b;
  color: #eab69f;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.category-button:hover {
  background-color: #eab69f;
  color: #3d405b;
  border-color: #e07a5f;
}
.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: #3d405b;
}

