
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    
  }
  .title {
    color: #f4f1de;
    margin-left: 50px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d405b;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
  }
  .icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    top: 15px;
    left: 10px;
    cursor: pointer;
  }
  .bar {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    margin-bottom: 7px;
    background-color: #e07a5f;
    display: inline-block;
  }
  /* .bar:hover {
    width: 30px;
    height: 4px;
    border-radius: 4px;a
    margin-bottom: 7px;
    background-color: #eab69f;
    display: inline-block;
  } */
  
  .hamburger-menu {
  display:none;
  }
  .hamburger-menu.open {
    display: block;
}

  .hamburger-menu button {
    background-color: #3d405b; 
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: "Arial", sans-serif;
  }
  
  .hamburger-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #3d405b;
    position: absolute;
    top: 60px;
    left: 0;
    width: 15%; 
    height: max-content;
    display: flex;
    flex-direction: column;
  }
  .hamburger-menu li {
    border-bottom: 1px solid #464a68;
  }
  .hamburger-menu li:hover {
    background: #464a68;
  }
  .hamburger-menu li a{
    padding: 15px;
    text-align: center;
    color: #eab69f;
    cursor: pointer;
    font-family: "Arial", sans-serif;
    text-decoration: none; 
    margin-bottom: 10px;
    display: block;
    
  }
  .hamburger-menu li a:hover {
    color: #e07a5f; 
  }

.title {
    text-align: center;
}

.title h1 {
    color: #f4f1de;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0; /* Elimină marginul implicit pentru h1 */
}

.top-right-menu {
    display: flex;
    gap: 15px;
    margin-right: 10px;
    font-size: medium;
}

.top-right-menu a {
    text-decoration: none;
    color: #f4f1de;
}
.top-right-menu a:hover{
    color:#eab69f;
}

.notificare-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.notificare {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    padding: 15px;
    background-color: #eab69f; 
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #3d405b; 
}

.notificare p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.notificare form {
    margin-top: 10px;
}

.notificare input[type="submit"] {
    background-color: #e07a5f; 
    border: 0;
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #f4f1de; 
    cursor: pointer;
    transition: 0.25s;
}

.notificare input[type="submit"]:hover {
    background-color: #f2cc8f; 
}

.footer-link {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3d405b; 
    color: #f4f1de; 
    text-decoration: none;
    text-align: center;
    padding: 15px; /* Ajustat pentru a mări zona clicabilă */
    font-weight: bold;
}
.footer {
    background-color: #3d405b; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align:center;
    margin-left: 0;
    color: #f4f1de;
  }